PORT=3000
CORS_ORIGIN=http://localhost:5173

DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=tu_password_de_postgres
DB_NAME=taller3_24

JWT_SECRET=reemplaza_por_una_cadena_larga_y_aleatoria
JWT_EXPIRES_IN=2h
BCRYPT_ROUNDS=10
